@font-face { /* Incorporando fontes baixadas ao projeto */
    font-family: 'DePixel-Breit';
    src: url(fontes/DePixelBreit.otf) format('opentype'),
    url(fontes/DePixelBreit.ttf) format('truetype');
}

@font-face {
    font-family: 'DePixel-Halbfett';
    src: url(fontes/DePixelHalbfett.otf) format('opentype'), url(fontes/DePixelHalbfett.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #9DCBBA;
}

.cabecalho {
    background-color: #011627;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-family: 'DePixel-Halbfett';
}

h3, h4 {
    font-family: 'DePixel-Halbfett';
    font-size: 12px;    
}

p, ul > li {
    font-family: 'DePixel-Breit';
    font-size: 12px;
}

.conteudo {
    background-color: white;
    width: 1100px;
    margin: auto;
}

section {
    padding-top: 30vh;
    padding-bottom: 30vh;
    line-height: 2em;
    padding-left: 30px;
}

.conteudo-imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.416);
    background-attachment: fixed;
}

#conteudo-img1 {
    background-image: url(imagens/PixelBackground.png);
    background-position: right center;
    background-size: cover;
    z-index: 1; /* Adicione esta linha */
}

#conteudo-img2 {
    position: absolute; /* Adicione esta linha */
    top: 50%; /* Ajuste conforme necessário */
    left: 50%; /* Ajuste conforme necessário */
    transform: translate(-50%, -52%); /* Centralize a imagem */
    z-index: 2; /* Coloque a imagem na frente */
}

#title1 {
    margin-top: 10px;
}

.conteudo-1, .conteudo-2, .conteudo-3, .conteudo-4, .conteudo-5, .conteudo-6, .conteudo-7 {
    padding: 0px 35px;
}

.conteudo-1-prgf, .conteudo-2-prgf, .conteudo-3-prgf, .conteudo-4-prgf, .conteudo-5-prgf, .conteudo-6-prgf, .conteudo-7-prgf {
    margin: 10px 0px;
}


ul {
    list-style-position: inside;
}

.conteudo-3-title {
    margin: 15px 0px;
}

.conteudo-4-title, .conteudo-5-title {
    margin: 25px 0px;
    border-top: 2px solid black;
    padding-top: 15px;
}

.conteudo-4-prgf {
    margin-bottom: 25px;
}

.conteudo-6-title {
    margin: 25px 0px;
    text-align: center;
    border-top: 2px solid black;
    padding-top: 15px;
}

.conteudo-7-title {
    margin: 25px 0px 15px 0px;
    border-top: 2px solid black;
    padding-top: 15px;
}

.conteudo-3-title-item, .conteudo-4-title-item {
    margin: 15px 0px;
}

.conteudo-7-list {
    padding-bottom: 15px;
} 

.rodape {
    background-color: #011627;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}