@font-face { /* Incorporando fontes baixadas ao projeto */
    font-family: 'DePixel-Breit';
    src: url(fontes/DePixelBreit.otf) format('opentype'),
    url(fontes/DePixelBreit.ttf) format('truetype');
}

@font-face {
    font-family: 'DePixel-Halbfett';
    src: url(fontes/DePixelHalbfett.otf) format('opentype'), url(fontes/DePixelHalbfett.ttf) format('truetype');
}

/* Variáveis globais das cores principais */
:root {
    --color1: #14a8fe;
    --color2: #011627;

    /* Cores da PixelArtHistory img */
    --color3: #db93b0;
    --color4: #57b6f0;
    --color5: #f7bfb4;
}

/* Configuração global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--color1);
    margin: 0;
    padding: 0;
    background-image: url('imagens/mwaayk-art-cloud.jpg');
    background-attachment: fixed;
}

/* Configuração do header */
.cabecalho {
    background-color: var(--color2);
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 640px;
    align-items: center;

    /* Fixando o cabeçalho */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

h2 {
    font-family: 'DePixel-Halbfett';
}

h3, h4, .cabecalho-nav > a {
    font-family: 'DePixel-Halbfett';
    font-size: 12px;    
}

p, ul > li {
    font-family: 'DePixel-Breit';
    font-size: 12px;
}

.cabecalho-nav > a {
    margin: 0px 10px;
    color: white;
    padding: 10px;
    transition-duration: 0.5s;
}

.cabecalho-nav > a:hover {
    background-color: white;
    color: var(--color2);
    transition-duration: 1s;
    border-radius: 5px;
}

/* Configuração do main */
.conteudo {
    background-color: white;
    width: 1100px;
    margin: auto;
    margin-top: 120px; /* Espaçamento entre o conteudo principal e o cabeçalho*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.252);
}

/* Configurando a seção da imagem (Parallax) */
section {
    padding-top: 30vh;
    padding-bottom: 30vh;
    line-height: 2em;
    padding-left: 30px;
}

.conteudo-imagem {
    height: 100vh; /* Ajusta a altura conforme necessário */
    display: flex;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
}

#conteudo-img1 {
    background-image: url('imagens/PixelBackground.png');
    background-attachment: fixed;
}

#conteudo-img2 {
    max-width: 100%;
    height: auto;
}

#title1 {
    margin-top: 10px;
}

.conteudo-1, .conteudo-2, .conteudo-3, .conteudo-4, .conteudo-5, .conteudo-6, .conteudo-7 {
    padding: 0px 35px;
}

.conteudo-1-prgf, .conteudo-2-prgf, .conteudo-3-prgf, .conteudo-4-prgf, .conteudo-5-prgf, .conteudo-6-prgf, .conteudo-7-prgf {
    margin: 10px 0px;
}

/* Configuração simples das listas */
ul {
    list-style-position: inside;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
 
th, td {
    padding: 8px;
    border: 1px solid black;
}

th {
    background-color: var(--color2);
    color: white;
    font-weight: bolder;
}

tbody > tr:nth-child(2n) {
    background-color: rgb(234, 234, 234);
    font-weight: bolder;
}

.genre-col {
    font-weight: bold;
}

.conteudo-3-title {
    margin: 15px 0px;
}

.conteudo-3-title-item, .conteudo-4-title-item {
    margin: 15px 0px;
}

#title2, .conteudo-2-title, .conteudo-4-title, .conteudo-5-title {
    margin: 25px 0px;
    border-top: 2px solid black;
    padding-top: 15px;
}

.conteudo-4-prgf, .conteudo-5-prgf {
    margin-bottom: 25px;
}

.conteudo-5 {
    text-align: center;
}

.conteudo-5-secao {
    background-color: var(--color2);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 685px;
    height: 415px;
    border-radius: 5px;
}

.conteudo-6-title {
    margin: 25px 0px;
    text-align: center;
    border-top: 2px solid black;
    padding-top: 15px;
}

.conteudo-7-title {
    margin: 25px 0px 15px 0px;
    border-top: 2px solid black;
    padding-top: 15px;
}

.conteudo-7-list {
    padding-bottom: 15px;
} 

/* Configuração do footer */
.rodape {
    background-color: var(--color2);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-prgf {
    color: white;
}

.rodape-prgf > a {
    color: white;
    text-decoration: underline;
}

/* Reponsividade da página WEB */
@media screen and (orientation: portrait) {
    .cabecalho {
        height: 140px;
        display: block;
        text-align: center;
    }

    .conteudo {
        width: 90%; 
    }

    section {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }

    .conteudo-imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Define a altura da seção para ocupar toda a tela verticalmente */
    }

    #conteudo-img2 {
        width: 100%;
        max-width: 100%; /* Garante que a imagem não exceda a largura da div */
        height: auto;
        display: block;
    }

    .conteudo-1, .conteudo-2, .conteudo-3, .conteudo-4, .conteudo-5, .conteudo-6, .conteudo-7 {
        padding: 0px 20px; 
    }

    .conteudo-5-secao {
        width: 90%;
        height: 315px; 
    }

    .conteudo-6-galeria {
        text-align: center;
    }
}